---
layout: page-sidebar
---

{% unless page.content == '' %}
{{ content }}
<hr>
{% endunless %}


{% if site.categories.[page.category] %}

<ul class="">
	{% for post in site.categories.[page.category] %}
	<li class="">
		<a href="{{ post.url | prepend: site.baseurl }}">
			{{ post.title }}
		</a>
	</li>
	{% endfor %}
</ul>

{% else %}

<p class="text-center">
	<em>
		<strong>{{ page.category | capitalize }}</strong> has no items.
	</em>
</p>

{% endif %}

<hr>

<ol class="breadcrumb">
	<li><a href="{{ '/' | prepend: site.baseurl }}">Home</a></li>
	<li><a href="{{ '/portfolio/' | prepend: site.baseurl }}">Portfolio</a></li>
	<li class="active">{{ page.category | capitalize }}</li>
</ol>
