---
layout: default
---

<div class="container">

	<div class="row">

		<article class="col-sm-7 col-md-8">

			<header class="page-header">
				<h2>
					{{ page.title }}
				</h2>
			</header>

			{{ content }}

			<ol class="breadcrumb">
				<li><a href="{{ '/' | prepend: site.baseurl }}">Home</a></li>
				<li><a href="{{ '/portfolio/' | prepend: site.baseurl }}">Portfolio</a></li>
				<li><a href="{{ '/portfolio/' | prepend: site.baseurl | append: page.categories.first }}">{{ page.categories.first | capitalize }}</a></li>
				<li class="active">{{ page.title }}</li>
			</ol>

		</article>

		<aside class="col-sm-5 col-md-4">
			{% if page.image %}
			<p>
				<img class="img-responsive center-block" src="{{ page.image }}" alt="{{ page.title }}">
			</p>
			{% elsif page.remote_image %}
			<p>
				<img class="img-responsive center-block" src="{{ page.remote_image }}" alt="{{ page.title }}">
			</p>
			{% endif %}
		</aside>
	</div>
</div>
